<p style="color: green"><%= notice %></p>

<p>
  <%= link_to "Edit this grouping", edit_grouping_path(@grouping) %> |
  <%= link_to "Back to groupings", groupings_path %>
</p>
<%= render @grouping %>
<% if @grouping.products.empty? %>
  <%= button_to "Destroy this grouping", @grouping, method: :delete %>
<% end %>