<p style="color: green"><%= notice %></p>

<p>
  <%= link_to "Edit this tag", edit_tag_path(@tag) %> |
  <%= link_to "Back to tags", tags_path %>
</p>
<%= render @tag %>
<% if @tag.products.empty? %>
  <%= button_to "Destroy this tag", @tag, method: :delete %>
<% end %>
