<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div><br>

  <div style="display: flex; align-items: center">
    <%= form.label :description, style: "margin-right: 0.5em" %>
    <%= form.text_area :description %>
  </div><br>

  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div><br>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div><br>

  <div>
    <%= form.label :category_id, style: "margin-right: 0.5em" %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
  </div><br>

  <div>
    <%= form.label :grouping_id %>
    <%= form.collection_radio_buttons :grouping_id, Grouping.order(:name), :id, :name %>
  </div><br>

  <div>
    <%= form.label :tag_ids %>
    <%= form.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name %>
  </div><br>

  <div style="margin-top: 1em">
    <%= form.submit %>
  </div>
<% end %>
