<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <% if product.category_id %>
      <strong>Category:</strong>
      <%= product.category.name %>
    <% else %>
      <strong>No Category</strong>
    <% end %>
  </p>

  <p>
    <% if product.grouping_id %>
      <strong>Grouping:</strong>
      <%= product.grouping.name %>
    <% else %>
      <strong>No Grouping</strong>
    <% end %>
  </p>

  <p>
    <% if !product.tags.empty? %>
      <strong>Tags:</strong>
      <%= product.tags.map { |tag| tag.name } %>
    <% else %>
      <strong>No Tags</strong>
    <% end %>
  </p>

</div>
