<!DOCTYPE html>
<html>
  <head>
    <title>Practice - Shuffle-1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <nav>
      <ol>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Groupings", groupings_path %></li>
        <li><%= link_to "Tags", tags_path %></li>
        <li><%= link_to "Logs", logs_path %></li>
      </ol>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
